 .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
    padding: 1rem;
    background: #ffffff;
    color: #000000;
}
  
.title {
    font-weight: lighter;
    font-family: monospace;
    margin: 0;
    align-self: center;
}

@media(prefers-color-scheme: dark) {
    .header {
        background: #000000;
        color: #ffffff;
    }
}