 .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: #000000;
}
  
.title {
    font-weight: lighter;
    font-family: monospace;
    margin: 0;
    align-self: center;
}