 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    background: var(--background);
    color: var(--foreground);
    border-bottom: 1px solid rgba(159, 159, 159, 0.1);
}

@media(min-width: 768px) {
    .header {
        padding: 1rem;
    }
}

@media(min-width: 1024px) {
    .header {
       padding: 1.25rem; 
    }
}
  
.title {
    font-weight: lighter;
    font-family: monospace;
    margin: 0;
    align-self: center;
}

.logoWrapper {
    height: 60px;
    width: 60px;
}

.logo {
    width: 60px;
    height: 60px;
}

.navWrapper {
    height: 60px;
    width: 60px;
    margin-right: 0.5rem;
}