.tabWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    height: 100%;
}

.tabButtonWrapper {
    grid-row: 1;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    height: 50px;
    background: var(--background);
    overflow: hidden;
}

@media(min-width: 768px) {
    .tabButtonWrapper {
        display: none;
    }
}

.tabButton {
    height: 100%;
    display: grid;
    grid-template-rows: auto 3px;
    cursor: pointer;
}

.tabButton h3 {
    font-weight: 300;
}

.tabButton:nth-child(1) div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accentPurple);
}

.tabButton:nth-child(1) div:nth-child(2) {
    background: var(--accentPurple);
    height: 3px;
}

.tabButton:nth-child(2) div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accentPink);
}

.tabButton:nth-child(2) div:nth-child(2) {
    background: var(--accentPink);
    height: 3px;
}

.mobileTabContentWrapper {
    grid-row: 2;
    height: 100%;
    width: 100%;
    background: var(--background);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

@media(min-width: 768px) {
    .mobileTabContentWrapper {
        display: none;
    }
}

.desktopTabs {
    display: none;
}

@media(min-width: 768px) {
    .desktopTabs {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .desktopTabs > div {
        flex: 1;
    }
}

.tab {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab1 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(1fr);
    gap: 1rem;
}

@media(min-width: 768px) {
    .tab1 {
        justify-content: center;
        align-items: center;
    }
}

.tab1 div {
    width: 100%;
}

.socialsTitle {
    display: flex;
    flex-direction:column ;
    align-items: center;
}

.tab1 div h1 {
    color: var(--accentPink);
    font-weight: 400;
}

.tab1 div h3 {
    font-weight: 200;
}

.socialsWrapper {
    display: flex;
    flex-direction: column;
}

.socialsWrapper h3 {
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
}

.socials a:nth-child(1) {
    grid-column: 1;
}

.socials a:nth-child(2) {
    grid-column: 2;
}

.tab2 {
    width: 100%;
    max-width: 400px;
    height: 100%;
}