.hero {
    display: flex;
    flex-direction: column;
    height: calc(100dvh - var(--header-height));
    background: var(--background);
    color: var(--foreground);
  }
  
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.topSection {
    display: flex;
    align-items: end;
    margin-bottom: 2rem;
    max-width: 800px;
}

.botSection {
    padding: 2rem;
    background: var(--background);
    border-top: 1px solid rgba(159, 159, 159, 0.1);
    /* Optionally, add a max-width and center text for readability */
    margin: 0 auto;
    max-width: 800px;
}
  
.botSection p {
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}
  
.botSection p:last-child {
    margin-bottom: 0;
}

.name,
.iAm {
  font-size: 2rem;
}

.iAm {
  font-family: "Inter";
  font-weight: 200;
}

.name {
  font-family:"Inria Serif";
  font-weight: 300;
  font-style: italic;
  margin-bottom: 2rem;
}

.einarImgSection {
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 0 2rem 0 2rem;
  margin-top: 1rem;
}

.einarImg {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: 1px solid var(--foreground);
}

@media(min-width: 1024px) {
    .container {
        align-items: center;
    }

    .topSection {
        display: flex;
        min-width: 800px;
    }
}

  