.hero {
    display: flex;
    flex-direction: column;
    height: calc(100dvh - var(--header-height));
    background: var(--background);
    color: var(--foreground);
  }
  
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.topSection {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0 1rem;
    max-width: 800px;
    row-gap: 0;
}

.botSection {
  flex: 1;
  display: flex;
}

.aboutMeSection {
  padding: 2rem;
  padding-bottom: 0;
  background: var(--background);
  border-top: 1px solid rgba(159, 159, 159, 0.1);
  margin: 0 auto;
  max-width: 800px;
  flex: 1;
}

.aboutMeSection p {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-weight: 200;
}

.aboutMeSection p:last-child {
    margin-bottom: 0;
}

.nameSection {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  grid-row: 1;
  margin-top: 2rem;
}

.name {
  font-family: "Inter";
  font-weight: 200;
}

.phraseSection {
  grid-row: 2;
  grid-column: 2;
}

.einarImgSection {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  grid-row: 1 / span 2;
  margin-left: 1rem;
}

.einarImg {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: 5px solid var(--foreground);
}

@media(min-width: 1024px) {

  .topSection {
    align-self: center;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 0 1rem;
    min-width: 800px;
    gap: 1rem;
    row-gap: 0;
  }

  .einarImgSection {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1;
    grid-row: 1 / span 2;
    margin-left: 0;
    margin-right: 0;
  }

  .nameSection {
    justify-self: flex-start;
    margin-left: 2.7rem;
    margin-top: 2rem;
  }

  .phraseSection {
    grid-row: 2;
    grid-column: 2;
    width: 12rem;
    height: 2.5rem;
  }

  .aboutMeSection p {
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    font-weight: 200;
  }
}

@media(min-height: 845px) {
  .aboutMeSection p {
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    font-weight: 200;
  }
}