.hero {
    display: flex;
    flex-direction: column;
    height: calc(100dvh - var(--header-height));
    background: var(--background);
    color: var(--foreground);
  }
  
.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
}

@media(min-width: 768px) {
    .container {
        max-width: 800px;
        align-self: center;
    }
}

.topSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.textContainer {
    max-width: 550px;
}

.topSection h1 {
    font-weight: 300;
    font-size: 2rem;
    color: var(--accentPurple);
    margin-top: 1rem;
}

.topSection p {
    font-weight: 100;
    font-size: 1rem;
    margin-top: 1rem;
}

.options {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 1rem;
}

@media(min-width: 768px) {
    .options {
        margin-top: 3rem;
    }
}

.tabWrapper {
    width: 100%;
    height: 100%;
}

