.hero {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - var(--header-height));
  background: var(--background);
  color: var(--foreground);
}
  
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.topSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.nameSection {
  display: flex;
  flex-wrap: nowrap;
  align-self: flex-start;
}

.name {
  font-size: 1.9rem;
  font-weight: 200;
}

@media(min-width: 500px) {
  .name {
    font-size: 3rem;
  }
}

.phraseSection {
  width: 100%;
  display: flex;
  justify-self: center;
  font-size: 1rem;
  gap: 6px;
  margin-top: 10px;
}

@media(min-width: 400px) {
  .phraseSection {
    font-size: 1.5rem;
  }
}

.namePhraseSection {
  align-self: flex-start;
}

.einarImgSection {
  align-self: flex-end;
  height: 12rem;
  width: 12rem;
}

@media(min-width: 1024px) {
  .einarImgSection {
    height: 18rem;
    width: 18rem;
  }
}

.einarImg {
  height: 100%;
  width: 100%;
  border: 5px solid white;
  border-radius: 50%;
}

.linkSection {
  margin-top: auto;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: 50px;
}

@media(min-width: 1024px) {
  .container {
    padding: 0;
  }
  .topSection {
    max-width: 1000px;
  }
  .einarImgSection {
    align-self: flex-end;
  }
}