.hero {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - var(--header-height));
  background: var(--background);
  color: var(--foreground);
}
  
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
}
  
.topSection {
  margin: 0 1rem;
  padding: 1rem 0 1rem 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.textSection {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-bottom: 70%;
}

.name,
.title {
  display: inline-block;
  font-size: 3rem;
  align-self: flex-start;
  font-family: "Inter";
  font-weight: 200;
}

.einarImgSection {
  align-self: flex-end;
}

.einarImg {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  border: 1px solid;
}

.linkSection {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

@media(min-width: 1024px) {
  .topSection {
    max-width: 1000px;
  }
  .einarImgSection {
    align-self: flex-end;
    margin-right: 5rem;
  }
}
  