.container {
    height: calc(100dvh - var(--header-height));
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.notFound {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.notFound h1 {
    font-weight: 300;
}

.notFound p {
    font-size: 0.75rem;
    font-weight: 200;
}

.notFound p span {
    font-size: 2rem;
    font-weight: 100;
}