.contactForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    width: 100%;
    padding: 0.5rem 1rem 0 1rem;
}

.input {
    width: 100%;
    padding: 10px;
    border: none;
    background: var(--background);
    color: var(--foreground);
    border-bottom: 1px solid white;
}

.input:focus {
    outline: none;
    border-bottom: 2px solid var(--accentPink);
}

.message {
    border: none;
    background: var(--background);
    border: 1px solid white;
    color: var(--foreground);
    padding-left: 5px;
    padding-top: 5px;
    max-width: 500px;
    max-height: 200px;
    min-width: 200px;
    min-height: 80px;
}

.message:focus {
    outline: none;
    border: 2px solid var(--accentPink);
}

.submitButton {
    border: none;
    padding: 5px 10px;
    background-color: var(--accentPink);
    align-self: center;
    color: var(--foreground);
    font-size: 1rem;
}