.cardGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    padding: 1rem;
}

@media(min-width: 800px) {
    .cardGrid {
        grid-template-columns: 1fr 1fr;
        padding: 1rem 3rem;
    }
}

.card {
    max-width: 550px;
    background: transparent;
    padding: 0.5rem;
    cursor: pointer;
}

@media(min-width: 800px) {
    .card {
        max-width: 730px;
    }
}

.imgWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 30px;
}

.projectImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 30px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--accentPurple);
}

.description {
    font-weight: 200;
}

.publishDate {
    color: var(--accentPink);
    font-weight: 500;
    font-size: 0.8rem;
}

