.cardGrid {
    display: grid;
    grid-template-columns: repeat(auto, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.card {
    max-width: 550px;
    background: transparent;
    padding: 0.5rem;
}

.imgWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.projectImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid white;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--accentPurple);
}

.description {
    font-weight: 200;
}

.publishDate {
    color: var(--accentPink);
    font-weight: 500;
    font-size: 0.8rem;
}
